table {
  width: 100%;
}

td,
th {
  width: 15%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.delete {
  cursor: pointer;
  color: #c52c0d;
}

.edit {
  cursor: pointer;
  color: #1878b0;
}

.search {
  cursor: pointer;
}

.agregar {
  font-size: 12px;
  line-height: 28px;
}

.button-add {
  margin-top: 40px;
}
