<div class="title">
  <h1>Datos de la Categoría</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="category != null" class="container">
  <mat-card class="card">
    <mat-card-title>{{ category.CategoryName }}</mat-card-title>
    <mat-card-content>
      <p><strong>Descripción:</strong> {{ category.Description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/listCategories" mat-raised-button>Volver</button>
    </mat-card-actions>
  </mat-card>
</div>
