<div mat-dialog-title>
  <h1>Categorías</h1>
</div>
<form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre categoría</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ej transport"
          formControlName="categoryName"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input
          matInput
          placeholder="Ej descripción de transporte"
          formControlName="categoryDescription"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Actualizar" : "Guardar" }}
    </button>
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
  </div>
</form>
