@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <h1>Oppss!! no debería pasar pero ocurrió el siguiente error: </h1>
    <h5 class="text-danger">@Model.Exception.Message</h5>
</div>  