<div class="title">
  <h1>{{ operacion }} Categoría</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container card">
  <mat-card class="card">
    <mat-card-subtitle> Datos de la categoría </mat-card-subtitle>
    <form [formGroup]="form" (ngSubmit)="addEditCategory()">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de la categoría</mat-label>
            <input formControlName="name" matInput autocomplete="off" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Descripción de la categroía</mat-label>
            <input formControlName="description" matInput autocomplete="off" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <button
            [disabled]="form.invalid"
            type="submit"
            class="btnAceptar"
            mat-raised-button
            color="primary"
          >
            Aceptar
          </button>
          <button mat-raised-button routerLink="/listCategories">Volver</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
